nav {
  display: flex;
  height: 5rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(44, 10, 44, 0.448);

  border: solid rgba(147, 4, 4, 0.18);
}

.logout-button {
}

.links {
  font-size: 2rem;
  font-family: sans-serif;
  color: lightgreen;
}
