#registerform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#registerheader{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 5rem;
    letter-spacing: 0.25rem;
}

.labels{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
}

#registerbutton{
    width: 8rem;
    height: 2.5rem;
    border-style: solid;
    border-color: rgb(23, 23, 23);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 46, 46);
    color: white;
    letter-spacing: 0.1rem;
}