body {
  background: linear-gradient(to right, #36454f 22%, #052c54);
  color: whitesmoke;
}

.link-text {
  color: whitesmoke;
  text-decoration: none;
}

.item-container {
  display: flex;
  width: 20%;
  border: 2px solid #36454f;
  background-color: rgba(34, 6, 34, 0.448);
  box-shadow: 20px 20px 10px rgba(23, 23, 24, 0.384);
  justify-content: center, space-evenly;
  margin: 2rem;
  padding: 5%;
}

#all-Items-Container {
  font-size: 2.2rem;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
}
