body {
  background: linear-gradient(to right, #36454f 22%, #052c54);
  color: whitesmoke;
}

.link-text {
  color: whitesmoke;
  text-decoration: none;
}

.item-container {
  display: flex;
  width: 20%;

  justify-content: center, space-evenly;

  padding: 5%;
}

#all-Items-Container {
  font-size: 2.2rem;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
}
